<po-page-default>
  <blockquote id="blockquote">Equipe Manutenção PRIME</blockquote>

  <div class="po-row">
    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('1170')"
      (p-secondary-action)="sendContact('douglas.morato@totvs.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/douglas.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Douglas Rainho Morato</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859-2838</li>
          <li>
            <span class="po-icon po-icon-mail"></span> douglas.morato@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('1512')"
      (p-secondary-action)="sendContact('caio.felipe@portinari.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/caio.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Caio Cesar Felipe</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 1512</li>
          <li>
            <span class="po-icon po-icon-mail"></span> caio.felipe@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('2859')"
      (p-secondary-action)="sendContact('vitor.pires@portinari.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/vitor.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Vitor Pires</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 1467</li>
          <li>
            <span class="po-icon po-icon-mail"></span> vitor.pires@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>
  </div>

  <div class="row">

  </div>
  

  <div class="row">

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('1293')"
      (p-secondary-action)="sendContact('eduardo.martinez@portinari.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/eduardo.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Eduardo Karpischek Martinez</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 1293</li>
          <li>
            <span class="po-icon po-icon-mail"></span> eduardo.martinez@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('2306')"
      (p-secondary-action)="sendContact('julio.silva@portinari.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/julio.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Julio Fernando da Silva Santos</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 2306</li>
          <li>
            <span class="po-icon po-icon-mail"></span> julio.silva@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('2877')"
      (p-secondary-action)="sendContact('evandro.pattaro@portinari.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/evandro.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Evandro Luiz Barbosa Pattaro</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 2877</li>
          <li>
            <span class="po-icon po-icon-mail"></span> evandro.pattaro@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>
  </div>

  <div class="row">

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('5514')"
      (p-secondary-action)="sendContact('luis.fernando@totvs.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/luisM.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Luís Magalhães</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 5514</li>
          <li>
            <span class="po-icon po-icon-mail"></span> luis.fernando@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('2202')"
      (p-secondary-action)="sendContact('wesley.lossani@portinari.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/wesley.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Wesley Lossani</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 2202</li>
          <li>
            <span class="po-icon po-icon-mail"></span> wesley.lossani@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('1802')"
      (p-secondary-action)="sendContact('oliveira.eder@portinari.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/eder.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Eder Luciano de Oliveira</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 1802</li>
          <li>
            <span class="po-icon po-icon-mail"></span> oliveira.eder@portinari.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>    

  </div>

  <div class="row">

    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('5740')"
      (p-secondary-action)="sendContact('guilherme.bigois@totvs.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/bigois.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Guilherme Bigois</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 5740</li>
          <li>
            <span class="po-icon po-icon-mail"></span> guilherme.bigois@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>  
    
    <po-widget class="po-md-4" p-primary-label="Ligar" p-secondary-label="Enviar e-mail" id="wid" (p-primary-action)="callContact('5838')"
      (p-secondary-action)="sendContact('fernando.luis@totvs.com.br')">

      <po-avatar class="po-md-4" p-size="md" p-src="../../assets/images/fernando.png">
      </po-avatar>

      <div class="po-md-8">
        <ul>
          <li>
            <span class="po-icon po-icon-user"></span>
            <strong> Fernando Luis Guilherme</strong>
          </li>
          <li>
            <span class="po-icon po-icon-telephone"></span> (11) 2859 5838</li>
          <li>
            <span class="po-icon po-icon-mail"></span> fernando.luis@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </po-widget>      

  </div>

</po-page-default>